@charset "utf-8";

html, body {
	margin:0px; /* FF hack: or we'll have double scrollbar showing on the browser */
	 /* hide browser's main scrollbar */

}

#main_container {
	width:100%;
	background-color:#ffffff; 
	overflow-x: hidden;
	overflow-y: scroll;
	height:100%;	
	position:absolute; 
}